<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itonemm.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListViewActivity"></activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".FragmentTest" />
        <activity android:name=".ButtonTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageViewTest" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".Average" />
        <activity android:name=".RelativeLayout" />
        <activity android:name=".GridLayoutTest" />
        <activity android:name=".TableLayoutTest" />
        <activity android:name=".Msg" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>